<h1>All Users</h1>
<a href="/create" class="btn btn-primary mb-2">Create User</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td>
        <a href="/view/{{this.id}}" class="btn btn-primary">View</a>
        <a href="/edit/{{this.id}}" class="btn btn-success">Edit</a>
        <a href="/delete/{{this.id}}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>